/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{

  background-color: rgb(247, 242, 232) ;
  max-width: 100%;
  margin: auto;}

  .sidebar_menu {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 100%;
    background: transparent;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    overflow: hidden;
    color: transparent;
    font-family: 'Lato', sans-serif;
  }
  
  .sidebar_menu:hover,
  .sidebar_menu.active {
    width: 250px;
  }
  
  .sidebar_menu ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .sidebar_menu ul li {
    position: relative;
    width: 100%;
    list-style: none;
  }
  
  .sidebar_menu ul li:hover {
    background: transparent;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    transition: 0.5s ease;
    color: transparent;
  }
  
  .sidebar_menu ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    background: transparent;
    color: black;
  }
  
  .sidebar_menu ul li a:hover {
    color: black;
  }
  
  .sidebar_menu li a.active {
      background-color: transparent;
      color: black;
      font-weight: 900;
  }
  
  .sidebar_menu ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  
  .sidebar_menu ul li a .icon .fa {
    font-size: 24px;
  }
  
  .sidebar_menu ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }

/* Choose the appearance of the tags, h1, h3 and p: */
h1 {
	color: #000000;
	font-size: 60px;
	margin-top: 0px;
	margin-bottom: 0px;	
	text-align: center;
	font-weight: bold;
	font-family: 'Poppins', sans-serif ;
}
/* First line */


h2 {
	color: #000000e8;
	font-size: 35px;
    font-weight: 500;
	margin-top: 67px;
	margin-bottom: 50;	
	text-align: center;
	font-family: 'Poppins', sans-serif ;
  padding-top: 0px;
}



h3{
  color: #000000e8;
	font-size: 25px;
    font-weight: 550;
	margin-top: 30;
	margin-bottom: 0;	
	text-align: center;
	font-family: 'Poppins', sans-serif ;
  padding-top: 10px;
  }

  h4{
    color:#000000a8;
    font-family: 'Poppins', sans-serif ;
    font-size: 18px;
    /* line-height: 0;  */
    text-align: center;
   
  }

/* Center all columns */
table td {
  text-align: center;
}

.text{
  color:#000000;
  font-family: 'Poppins', sans-serif ;
  font-size: 18px;
  /* line-height: 0;  */
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;

}

.text2{
  color:#000000;
  font-family: 'Poppins', sans-serif ;
  font-size: 18px;
  /* line-height: 0;  */
  text-align: center;
  padding-top: 20px;
  margin-bottom: 9px;

}

.chart{
    background-color: rgb(247, 242, 232) ;
    max-width: 50;
    min-width: auto;
    align-items: center;
    justify-content: center;
    position:static;
    margin-left: 10px;
    margin-top: 17px;
    border-style: solid;
    border-color: black ;
    border-width: 1px;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    flex-flow: row wrap;
    height: 300;}

    .chart:hover {
    
        transform: scale(1.04, 1.04);
        transition: 0.6s;
        
      }

      .chart-centre{
        margin-left: 23%;
          margin-right: 23%;
      }

      .chart-centre2{
        margin-left: 15%;
          margin-right: 17%;
      }
      
      

      .title:hover {
        font-weight: bold;
      }
        

    