@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
background-image: url(backround.jpeg);
background-size: cover;
background-position: center;
max-width: 100%;
margin: auto;}

.sidebar_menu {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 100%;
  background: transparent;
box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  overflow: hidden;
  color: transparent;
  font-family: 'Lato', sans-serif;
}

.sidebar_menu:hover,
.sidebar_menu.active {
  width: 250px;
}

.sidebar_menu ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sidebar_menu ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.sidebar_menu ul li:hover {
  background: transparent;
box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  transition: 0.5s ease;
  color: transparent;
}

.sidebar_menu ul li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  background: transparent;
  color: white;
}

.sidebar_menu ul li a:hover {
  color: white;
}

.sidebar_menu li a.active {
    background-color: transparent;
    color: white;
    font-weight: 900;
}

.sidebar_menu ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.sidebar_menu ul li a .icon .fa {
  font-size: 24px;
}

.sidebar_menu ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.title:hover {
  font-weight: bold;
}
  




